<div class="banner-container">
    <div class="image">
        <img src="assets/images/model.jpg" alt="image" width="150">
    </div>
    <div class="information-container">
        <div class="history">
            <div class="title">Historia</div>
            <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur obcaecati veniam explicabo illo nobis consequatur, tempora quos voluptas fuga numquam nisi recusandae aspernatur molestias aut rem perferendis ea laboriosam officia!</div>
            <div class="block"></div>
        </div>
    </div>
</div>