<div class="fotter-container">
    <div class="container-link">
        <div class="options">
            <div class="block">Country<br>México</div>
            <div class="block">Accesrios<br>Prensa</div>
            <div class="block">Contacto<br>Reembolso</div>
        </div>
        <div class="social">
            <div><i class="fab fa-facebook-f"></i></div>
            <div><i class="fab fa-twitter"></i></div>
            <div><i class="fab fa-instagram"></i></div>
        </div>
    </div>
    <div class="logo">
        <img src="assets/svg/barron.svg">
    </div>
</div>