.container-options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: black;
  width: 100%;
  height: 71px;
  background: white;
  font-size: 16px;
  font-family: 'PT Serif', serif;

  .pointer{
    cursor: pointer;
  }
}
